@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: rgb(239, 232, 255);

}

.material-symbols-outlined {
    position: sticky;
    top: 82%;
    left: 90%;
    z-index: 5;

    animation: cimabaixo 2s infinite;

}

@keyframes cimabaixo {
    0% {
        
        transform: translateY(-10px);
    }

    50% {
        
        transform: translateY(10px);

    }

    100% {
        
        transform: translateY(-10px);

    }

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(24, 3, 44);
    flex: 1 0 5rem;


}

.logo img {
    width: 80px;
    opacity: 0.5;
    position: relative;
    right: 15rem;


}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;

}

li {
    color: aliceblue;
    border: 1px solid rgb(252, 219, 219);
    border-radius: 20px;
    padding: 8px;


}

li:hover {
    background-color: white;
    color: rgb(24, 3, 44);
    transition: .2s;
}

a {
    text-decoration: none;
}

button {
    color: aliceblue;
    background-color: rgb(107, 10, 131);
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(205, 127, 224);

}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(235, 200, 248);
}

.bi:hover {
    opacity: 0.7;
}

.bi-linkedin:hover {
    background-color: #fff;
}

aside {
    display: flex;
    flex-direction: column;
}

aside button {
    width: 50%;
    margin: 10px 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    color: rgb(97, 4, 121);
    font-weight: 800;
}

h3 {
    font-size: 100px;
    font-weight: 700;
    color: rgb(97, 4, 121);
}


strong {
    color: rgb(204, 55, 241);
}

article img {
    width: 400px;
    animation: cimabaixo 6s infinite;
}

.img-perfil-dev {
    width: 400px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    background-color: rgb(239, 232, 255);
}



/* section 1 */
.container-experiencia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-img-logo {
    display: flex;
    justify-content: center;
    margin: 1rem;
    background-color: rgb(239, 232, 255);
}

.card-img-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-img-logo p{
    text-align: center;
    margin-right: 1rem;
}

.ig {
    width: 90px;
    margin-right: 1rem;
}




/* section 2 */

.container-sobre {
    background-color: #fff;
}

.container-sub-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 30px 0;



}

.container-sub-sobre p {
    max-width: 600px;
    word-spacing: 8px;
    text-align: justify;
    text-indent: 1.7em;
}






/* section 3 */






.button-project {
    margin: 0 20px;
}

.bt {
    width: 100px;
}

.container-projeto {
    display: flex;
    justify-content: space-between;
}


.item {
    display: none;
}

.action {
    display: block;
    display: flex;

}


.img-project {
    width: 700px;
    height: 400px;
    margin: 20px;
    border: 3px solid #000000;
    border-radius: 20px;
}

.btn-preview {
    width: 300px;
    font-size: 1.5rem;
}

.reposit{
    color: aliceblue;
    border: 1px solid rgb(252, 219, 219);
    background: rgb(24, 3, 44);
}







/* section 4 */

.container-subcontact {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    align-items: end;
    
}

.container-inf h2 {
    margin: 20px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: rgb(24, 3, 44);
}



.hidd {
    filter: blur(15px);
    transition: all 1s;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.container-img-logo :nth-child(1) {
    transition-delay: 300ms;
}

.container-img-logo :nth-child(2) {
    transition-delay: 600ms;
}

.container-img-logo :nth-child(3) {
    transition-delay: 900ms;
}



/* classe que faz a ação final do scroll */
.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}


@media screen and (max-width: 1070px) {

    nav {
        display: none;
    }

    article img {
        display: none;
    }

    .logo img {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    }

    main,
    aside {
        display: flex;
        justify-content: center;
        align-items: center;


    }

    aside {
        padding: 20px;
        margin: 50px 0;
    }

    aside button {
        display: none;
    }

    aside div {
        margin-top: 20px;
    }

    aside p {
        text-align: center;
    }

    aside a svg {
        width: 32px;
        height: 32px;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    
    .ig{
        width: 55px;
    }

    .card-img-logo p{
        font-size: 11px;

    }

    .container-sub-sobre {
        flex-direction: column;
        padding: 20px 8%;



    }

    .container-sub-sobre p {
        margin: 20px;
    }





    .button-project {
        margin: 0 20px;
    }

    .bt {
        width: 100px;
    }

    .container-projeto {
        display: flex;
        justify-content: space-between;
    }



    .action {
        display: flex;
        flex-direction: column;

    }


    .img-project {
        width: 95%;
        height: auto;
        margin: 10px 10px;
        border-radius: 50%;
    }

    .btn-preview {
        width: 150px;
        font-size: 1.0rem;
        margin: 10px 20px;
    }

    .item div {
        margin: 10px;
        width: 100%;
    }

    .item div p {
        max-width: 90%;
        word-spacing: 8px;
        text-align: justify;
        text-indent: 1.7em;
        margin: 10px;
    }

    /* .btn-preview{
        display: ;
    }

    .button-project{

    } */

    .container-subcontact {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px 20px;
        align-items: end;
        
    }

    .container-inf h2 {
        margin: 10px;
        font-size: 25px;
    }

    footer p {
        font-size: 10px;
    }






}